:root {
    --color-military: #1B3F7A;
    --color-military-dark: #122C57;
    --color-military-light: #2A5BA8;
    --color-mint: #3eb489;
    --color-gold: #cab543;
    --color-dark-gray: #5a5a6e;
    --color-black: #111;
    --color-white: #fff;
    --color-light-gray: #e8ecf3;
    --color-bg-light: #f0f3f9;
    --color-bg-dark: #1B3F7A;

    --bg-image-url: none;
}
