@import url("./../../app/css/constants.css");


* {
    color: var(--color-black);
}

.container-box {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

}


.main_box {
    width: 90dvw;
    height: 90dvh;
    background-color: var(--color-white);
    border-radius: 10px;
}