

.firstDiv {
    display: block;
    width: 97%;
    max-width: 830px;
    background-color: transparent;
    margin: 6rem auto;
    padding: 2rem;
    min-height: 100vh;
}
.protocolButton {
    max-width: 90%;
    margin: 0.7rem;
}

.contentWrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.backButton {
    margin-right: 0.5rem;
    color: transparent;
    transition: color 0.2s;
}

.backButton:hover {
    color: lab(28.55% 61.47 -89.61);
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
}

.noTrainingsMessage {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3eb489;
}

@media (max-width: 768px) {
    .firstitle {
        padding: 1.5rem;
        margin: 1.5rem auto;
    }

    .title {
        font-size: 1.125rem;
    }
}


@media (max-width: 480px) {
    .firstitle {
        padding: 1rem;
        margin: 1rem auto;
    }

    .header {
        margin-bottom: 0.75rem;
    }

    .title {
        font-size: 1rem;
    }
}
