/* components/TrainingCard.module.css */


.protocolButton {
  max-width: 90%; /* Ajuste a largura para telas menores */
   margin-bottom: 0.7rem;
   margin-left: auto;
   margin-right: auto;
 }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem; /* Adicionei margem inferior para espaçamento */
}

.backButton {
  margin-right: 0.5rem; /* Reduzi a margem */
  color: transparent;
  transition: color 0.2s;
}

.backButton:hover {
  color: lab(28.55% 61.47 -89.61);
}

.title {
  font-size: 1.25rem; /* Reduzi o tamanho da fonte para telas menores */
  font-weight: 600;
  color: #ffffff;
}

.noTrainingsMessage {
  font-size: 1.25rem; /* Reduzi o tamanho da fonte para telas menores */
  font-weight: 600;
  color: #eab308;
}
/* Media query para telas menores (ex: tablets e smartphones) */
@media (max-width: 768px) {
  .title {
    font-size: 1.125rem; /* Menor ainda em telas menores */
  }
}

/* Media query para telas ainda menores (smartphones) */
@media (max-width: 480px) {
  .header {
    margin-bottom: 0.75rem;
  }

  .title {
    font-size: 1rem; /* Ainda menor em telas muito pequenas */
  }
}
